.mule/plugins-tmp/repository/7.16.0/org/mule/modules/mule-odata-module/1.0.0/mule-apikit-odata.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:mule="http://www.mulesoft.org/schema/mule/core" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.mulesoft.org/schema/mule/apikit-odata" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:import namespace="http://www.w3.org/XML/1998/namespace"></xs:import>
  <xs:import namespace="http://www.mulesoft.org/schema/mule/core" schemaLocation="http://www.mulesoft.org/schema/mule/core/current/mule.xsd"></xs:import>
  <xs:complexType name="org.mule.extension.api.serialization.SuccessResponse">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractExtensionType"></xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" xmlns:apikit-odata="http://www.mulesoft.org/schema/mule/apikit-odata" type="apikit-odata:org.mule.extension.api.serialization.SuccessResponse" substitutionGroup="mule:abstract-shared-extension" abstract="true" name="global-abstract-success-response"></xs:element>
  <xs:element xmlns:apikit-odata="http://www.mulesoft.org/schema/mule/apikit-odata" type="apikit-odata:org.mule.extension.api.serialization.SuccessResponse" abstract="true" name="abstract-success-response"></xs:element>
  <xs:complexType name="org.mule.extension.api.serialization.RawEntitySuccessResponse">
    <xs:complexContent>
      <xs:extension xmlns:apikit-odata="http://www.mulesoft.org/schema/mule/apikit-odata" base="apikit-odata:org.mule.extension.api.serialization.SuccessResponse">
        <xs:attribute type="xs:string" use="optional" default="#[payload]" name="rawContent"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:apikit-odata="http://www.mulesoft.org/schema/mule/apikit-odata" type="apikit-odata:org.mule.extension.api.serialization.RawEntitySuccessResponse" substitutionGroup="apikit-odata:abstract-success-response" abstract="true" name="abstract-raw-entity-success-response"></xs:element>
  <xs:element xmlns:apikit-odata="http://www.mulesoft.org/schema/mule/apikit-odata" substitutionGroup="apikit-odata:abstract-raw-entity-success-response" name="raw-entity-success-response">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="apikit-odata:org.mule.extension.api.serialization.RawEntitySuccessResponse"></xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="org.mule.extension.api.serialization.EntitySuccessResponse">
    <xs:complexContent>
      <xs:extension xmlns:apikit-odata="http://www.mulesoft.org/schema/mule/apikit-odata" base="apikit-odata:org.mule.extension.api.serialization.SuccessResponse">
        <xs:attribute type="xs:string" use="optional" default="#[payload]" name="bodyContent"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:apikit-odata="http://www.mulesoft.org/schema/mule/apikit-odata" type="apikit-odata:org.mule.extension.api.serialization.EntitySuccessResponse" substitutionGroup="apikit-odata:abstract-success-response" abstract="true" name="abstract-entity-success-response"></xs:element>
  <xs:element xmlns:apikit-odata="http://www.mulesoft.org/schema/mule/apikit-odata" substitutionGroup="apikit-odata:abstract-entity-success-response" name="entity-success-response">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="apikit-odata:org.mule.extension.api.serialization.EntitySuccessResponse"></xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="org.mule.extension.api.serialization.CollectionSuccessResponse">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractExtensionType"></xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" xmlns:apikit-odata="http://www.mulesoft.org/schema/mule/apikit-odata" type="apikit-odata:org.mule.extension.api.serialization.CollectionSuccessResponse" substitutionGroup="mule:abstract-shared-extension" abstract="true" name="global-abstract-collection-success-response"></xs:element>
  <xs:element xmlns:apikit-odata="http://www.mulesoft.org/schema/mule/apikit-odata" type="apikit-odata:org.mule.extension.api.serialization.CollectionSuccessResponse" abstract="true" name="abstract-collection-success-response"></xs:element>
  <xs:complexType name="org.mule.extension.api.serialization.RawEntityCollectionSuccessResponse">
    <xs:complexContent>
      <xs:extension xmlns:apikit-odata="http://www.mulesoft.org/schema/mule/apikit-odata" base="apikit-odata:org.mule.extension.api.serialization.CollectionSuccessResponse">
        <xs:attribute type="xs:string" use="optional" default="#[payload]" name="rawContent"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:apikit-odata="http://www.mulesoft.org/schema/mule/apikit-odata" type="apikit-odata:org.mule.extension.api.serialization.RawEntityCollectionSuccessResponse" substitutionGroup="apikit-odata:abstract-collection-success-response" abstract="true" name="abstract-raw-entity-collection-success-response"></xs:element>
  <xs:element xmlns:apikit-odata="http://www.mulesoft.org/schema/mule/apikit-odata" substitutionGroup="apikit-odata:abstract-raw-entity-collection-success-response" name="raw-entity-collection-success-response">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="apikit-odata:org.mule.extension.api.serialization.RawEntityCollectionSuccessResponse"></xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="org.mule.extension.api.serialization.EntityCollectionSuccessResponse">
    <xs:complexContent>
      <xs:extension xmlns:apikit-odata="http://www.mulesoft.org/schema/mule/apikit-odata" base="apikit-odata:org.mule.extension.api.serialization.CollectionSuccessResponse">
        <xs:attribute type="xs:string" use="optional" default="#[payload]" name="bodyContent"></xs:attribute>
        <xs:attribute xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="mule:expressionInt" use="optional" name="count"></xs:attribute>
        <xs:attribute xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="mule:substitutableInt" use="optional" name="pageSize"></xs:attribute>
        <xs:attribute xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="mule:expressionString" use="optional" name="token"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:apikit-odata="http://www.mulesoft.org/schema/mule/apikit-odata" type="apikit-odata:org.mule.extension.api.serialization.EntityCollectionSuccessResponse" substitutionGroup="apikit-odata:abstract-collection-success-response" abstract="true" name="abstract-entity-collection-success-response"></xs:element>
  <xs:element xmlns:apikit-odata="http://www.mulesoft.org/schema/mule/apikit-odata" substitutionGroup="apikit-odata:abstract-entity-collection-success-response" name="entity-collection-success-response">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="apikit-odata:org.mule.extension.api.serialization.EntityCollectionSuccessResponse"></xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstract-shared-extension" name="config">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mule:abstractExtensionType">
          <xs:annotation>
            <xs:documentation>Default configuration</xs:documentation>
          </xs:annotation>
          <xs:sequence minOccurs="0" maxOccurs="1"></xs:sequence>
          <xs:attribute type="xs:string" use="required" name="apiDefinition"></xs:attribute>
          <xs:attribute type="xs:string" use="required" name="name">
            <xs:annotation>
              <xs:documentation>The identifier of this element used to reference it in other components</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/apikit-odata" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="RequestEntityCollectionListenerType" substitutionGroup="mule:abstract-message-source" name="request-entity-collection-listener"></xs:element>
  <xs:complexType name="RequestEntityCollectionListenerType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageSourceType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-redelivery-policy"></xs:element>
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-byte-streaming-strategy"></xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="collection-success-response">
            <xs:complexType>
              <xs:choice minOccurs="1" maxOccurs="1">
                <xs:element xmlns:apikit-odata="http://www.mulesoft.org/schema/mule/apikit-odata" minOccurs="1" maxOccurs="1" ref="apikit-odata:abstract-collection-success-response"></xs:element>
                <xs:element xmlns:apikit-odata="http://www.mulesoft.org/schema/mule/apikit-odata" minOccurs="1" maxOccurs="1" ref="apikit-odata:global-abstract-collection-success-response"></xs:element>
              </xs:choice>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute type="mule:expressionString" use="optional" name="outputMimeType">
          <xs:annotation>
            <xs:documentation>The mime type of the payload that this operation outputs.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="outputEncoding">
          <xs:annotation>
            <xs:documentation>The encoding of the payload that this operation outputs.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:substitutableBoolean" use="optional" name="primaryNodeOnly">
          <xs:annotation>
            <xs:documentation>Whether this source should only be executed on the primary node when runnning in Cluster</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/apikit-odata" type="org.mule.extension.api.constants.HttpMethodEnumType" use="required" name="method"></xs:attribute>
        <xs:attribute type="xs:string" use="required" name="path"></xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="collectionSuccessResponse"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/apikit-odata" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="RequestEntityListenerType" substitutionGroup="mule:abstract-message-source" name="request-entity-listener"></xs:element>
  <xs:complexType name="RequestEntityListenerType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageSourceType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-redelivery-policy"></xs:element>
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-byte-streaming-strategy"></xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="success-response">
            <xs:complexType>
              <xs:choice minOccurs="1" maxOccurs="1">
                <xs:element xmlns:apikit-odata="http://www.mulesoft.org/schema/mule/apikit-odata" minOccurs="1" maxOccurs="1" ref="apikit-odata:abstract-success-response"></xs:element>
                <xs:element xmlns:apikit-odata="http://www.mulesoft.org/schema/mule/apikit-odata" minOccurs="1" maxOccurs="1" ref="apikit-odata:global-abstract-success-response"></xs:element>
              </xs:choice>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute type="mule:expressionString" use="optional" name="outputMimeType">
          <xs:annotation>
            <xs:documentation>The mime type of the payload that this operation outputs.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="outputEncoding">
          <xs:annotation>
            <xs:documentation>The encoding of the payload that this operation outputs.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:substitutableBoolean" use="optional" name="primaryNodeOnly">
          <xs:annotation>
            <xs:documentation>Whether this source should only be executed on the primary node when runnning in Cluster</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/apikit-odata" type="org.mule.extension.api.constants.HttpMethodEnumType" use="required" name="method"></xs:attribute>
        <xs:attribute type="xs:string" use="required" name="path"></xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="successResponse"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/apikit-odata" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="RouteType" substitutionGroup="mule:abstract-operator" name="route"></xs:element>
  <xs:complexType name="RouteType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-byte-streaming-strategy"></xs:element>
          <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="content"></xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="http-request-parameters">
            <xs:complexType>
              <xs:complexContent>
                <xs:extension base="mule:abstractExtensionType">
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" name="http-headers">
                      <xs:annotation>
                        <xs:documentation>HTTP request headers.</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="http-header">
                            <xs:complexType>
                              <xs:attribute type="mule:expressionString" use="required" name="key"></xs:attribute>
                              <xs:attribute type="mule:expressionString" use="required" name="value"></xs:attribute>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/apikit-odata" type="org.mule.extension.api.constants.HttpMethodEnumType" use="required" name="method">
                    <xs:annotation>
                      <xs:documentation>HTTP request method name.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute type="mule:expressionString" use="required" name="maskedRequestPath">
                    <xs:annotation>
                      <xs:documentation>OData request path, relative to listener.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/apikit-odata" type="org.mule.extension.api.constants.HttpSchemeEnumType" use="required" name="scheme">
                    <xs:annotation>
                      <xs:documentation>HTTP request scheme.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute type="mule:expressionString" use="required" name="host">
                    <xs:annotation>
                      <xs:documentation>Request host.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute type="mule:expressionString" use="required" name="listenerPath">
                    <xs:annotation>
                      <xs:documentation>Listener path, ending with "*".</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute type="mule:expressionMap" use="optional" name="httpHeaders">
                    <xs:annotation>
                      <xs:documentation>HTTP request headers.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute type="mule:expressionString" use="optional" name="queryString">
                    <xs:annotation>
                      <xs:documentation>HTTP query string.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                </xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute type="mule:expressionString" use="optional" name="outputMimeType">
          <xs:annotation>
            <xs:documentation>The mime type of the payload that this operation outputs.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="outputEncoding">
          <xs:annotation>
            <xs:documentation>The encoding of the payload that this operation outputs.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/apikit-odata" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="SerializeEntityType" substitutionGroup="mule:abstract-operator" name="serialize-entity"></xs:element>
  <xs:complexType name="SerializeEntityType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-byte-streaming-strategy"></xs:element>
          <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="inbound-content"></xs:element>
        </xs:sequence>
        <xs:attribute type="mule:expressionString" use="optional" name="outputMimeType">
          <xs:annotation>
            <xs:documentation>The mime type of the payload that this operation outputs.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="outputEncoding">
          <xs:annotation>
            <xs:documentation>The encoding of the payload that this operation outputs.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/apikit-odata" type="org.mule.extension.api.constants.HttpMethodEnumType" use="required" name="method">
          <xs:annotation>
            <xs:documentation>HTTP Method.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="required" name="path">
          <xs:annotation>
            <xs:documentation>Path to Entity Type.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/apikit-odata" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="SerializeEntityCollectionType" substitutionGroup="mule:abstract-operator" name="serialize-entity-collection"></xs:element>
  <xs:complexType name="SerializeEntityCollectionType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-byte-streaming-strategy"></xs:element>
          <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="inbound-content"></xs:element>
        </xs:sequence>
        <xs:attribute type="mule:expressionString" use="optional" name="outputMimeType">
          <xs:annotation>
            <xs:documentation>The mime type of the payload that this operation outputs.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="outputEncoding">
          <xs:annotation>
            <xs:documentation>The encoding of the payload that this operation outputs.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/apikit-odata" type="org.mule.extension.api.constants.HttpMethodEnumType" use="required" name="method">
          <xs:annotation>
            <xs:documentation>HTTP Method.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="required" name="path">
          <xs:annotation>
            <xs:documentation>Path to Entity Type.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/apikit-odata" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="TransformToSqlSelectType" substitutionGroup="mule:abstract-operator" name="transform-to-sql-select"></xs:element>
  <xs:complexType name="TransformToSqlSelectType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-byte-streaming-strategy"></xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="request-parameters">
            <xs:complexType>
              <xs:complexContent>
                <xs:extension base="mule:abstractExtensionType">
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" name="entity-type-fields">
                      <xs:annotation>
                        <xs:documentation>List of property fields from the Entity type.</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="entity-type-field">
                            <xs:complexType>
                              <xs:attribute type="mule:expressionString" use="required" name="value"></xs:attribute>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="entity-type-keys">
                      <xs:annotation>
                        <xs:documentation>Map of entity key names and values.</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="entity-type-key">
                            <xs:complexType>
                              <xs:attribute type="mule:expressionString" use="required" name="key"></xs:attribute>
                              <xs:attribute type="mule:expressionString" use="required" name="value"></xs:attribute>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="system-query-options">
                      <xs:annotation>
                        <xs:documentation>System Query Options map. The grammar and syntax rules for system query options are defined in [OData-ABNF], in order to simplify usability we remove initial dollar sign to avoid escaping withing dataweave, in example to access System Query Option $skip user should use the following expresion #[attributes.systemQueryOptions.'skip']</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="system-query-option">
                            <xs:complexType>
                              <xs:attribute type="mule:expressionString" use="required" name="key"></xs:attribute>
                              <xs:attribute type="mule:expressionString" use="required" name="value"></xs:attribute>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="mule:expressionString" use="required" name="entityTypeName">
                    <xs:annotation>
                      <xs:documentation>Entity type name specified by the Entity Data Model.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute type="mule:expressionList" use="optional" name="entityTypeFields">
                    <xs:annotation>
                      <xs:documentation>List of property fields from the Entity type.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute type="mule:expressionMap" use="optional" name="entityTypeKeys">
                    <xs:annotation>
                      <xs:documentation>Map of entity key names and values.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute type="mule:expressionMap" use="optional" name="systemQueryOptions">
                    <xs:annotation>
                      <xs:documentation>System Query Options map. The grammar and syntax rules for system query options are defined in [OData-ABNF], in order to simplify usability we remove initial dollar sign to avoid escaping withing dataweave, in example to access System Query Option $skip user should use the following expresion #[attributes.systemQueryOptions.'skip']</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                </xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="transformation-parameters">
            <xs:complexType>
              <xs:complexContent>
                <xs:extension base="mule:abstractExtensionType">
                  <xs:sequence></xs:sequence>
                  <xs:attribute type="mule:expressionBoolean" use="optional" default="true" name="searchTransformationEnabled">
                    <xs:annotation>
                      <xs:documentation>Enables $search transformation to WHERE clause.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute type="mule:expressionBoolean" use="optional" default="false" name="strictSearchTermMatch">
                    <xs:annotation>
                      <xs:documentation>Enables full term match for $search. If enabled, terms in WHERE clause are not enclosed between '%'.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                </xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute type="mule:expressionString" use="required" name="entitySetName"></xs:attribute>
        <xs:attribute type="mule:substitutableInt" use="optional" name="pageSize"></xs:attribute>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="org.mule.extension.api.constants.HttpMethodEnumType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="GET"></xs:enumeration>
          <xs:enumeration value="POST"></xs:enumeration>
          <xs:enumeration value="PUT"></xs:enumeration>
          <xs:enumeration value="PATCH"></xs:enumeration>
          <xs:enumeration value="DELETE"></xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="org.mule.extension.api.constants.HttpSchemeEnumType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="HTTP"></xs:enumeration>
          <xs:enumeration value="HTTPS"></xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
</xs:schema>