.mule/plugins-tmp/repository/4.5.1/com/mulesoft/connectors/mule-azure-service-bus-connector/3.1.1/mule-azure-service-bus-connector-3.1.1-mule-plugin.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:mule="http://www.mulesoft.org/schema/mule/core" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.mulesoft.org/schema/mule/azure-service-bus-messaging" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:import namespace="http://www.w3.org/XML/1998/namespace"></xs:import>
  <xs:import namespace="http://www.mulesoft.org/schema/mule/core" schemaLocation="http://www.mulesoft.org/schema/mule/core/current/mule.xsd"></xs:import>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstract-shared-extension" name="config">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mule:abstractExtensionType">
          <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element minOccurs="1" maxOccurs="1" ref="mule:abstractConnectionProvider"></xs:element>
            <xs:element minOccurs="0" maxOccurs="1" ref="mule:expiration-policy"></xs:element>
          </xs:sequence>
          <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/azure-service-bus-messaging" type="org.mule.runtime.extension.api.runtime.parameter.OutboundCorrelationStrategyEnumType" use="optional" default="AUTO" name="sendCorrelationStrategy">
            <xs:annotation>
              <xs:documentation>Whether to specify a correlationId when publishing messages. This applies both for custom correlation ids specified at the operation level and for default correlation Ids taken from the current event.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionString" use="optional" name="zoneId">
            <xs:annotation>
              <xs:documentation>The Zone Id property is used to identify the rules used to convert between an Instant and LocalDateTime. If the Zone Id equals 'Z', UTC will be used. If the Zone Id is not specified, the System default Zone Id will be used.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="xs:string" use="required" name="name">
            <xs:annotation>
              <xs:documentation>The identifier of this element used to reference it in other components</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstractConnectionProvider" name="sas-connection">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mule:abstractConnectionProviderType">
          <xs:sequence minOccurs="0" maxOccurs="1">
            <xs:element minOccurs="0" maxOccurs="1" ref="mule:reconnection"></xs:element>
          </xs:sequence>
          <xs:attribute type="mule:expressionString" use="required" name="namespace">
            <xs:annotation>
              <xs:documentation>The namespace contains the resources to which the connector will be able to establish a connection</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="xs:string" use="required" name="sharedAccessKeyName">
            <xs:annotation>
              <xs:documentation>The name of the Shared Access key</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="xs:string" use="required" name="sharedAccessKey">
            <xs:annotation>
              <xs:documentation>The Shared Access key</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:substitutableInt" use="optional" default="30" name="responseTimeout">
            <xs:annotation>
              <xs:documentation>The amount of time to wait for the operation to execute before throwing an error. This value is qualified by the #responseTimeoutTimeUnit</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/azure-service-bus-messaging" type="java.util.concurrent.TimeUnitEnumType" use="optional" default="SECONDS" name="responseTimeoutTimeUnit">
            <xs:annotation>
              <xs:documentation>A time unit which qualifies the #responseTimeout value</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:substitutableLong" use="optional" default="0" name="minimumRetryBackoff">
            <xs:annotation>
              <xs:documentation>The minimum amount of time that the connector will wait until retrying again</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/azure-service-bus-messaging" type="java.util.concurrent.TimeUnitEnumType" use="optional" default="SECONDS" name="minimumRetryBackoffTimeUnit">
            <xs:annotation>
              <xs:documentation>A time unit which qualifies the #minimumRetryBackoff value</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:substitutableLong" use="optional" default="30" name="maximumRetryBackoff">
            <xs:annotation>
              <xs:documentation>The maximum amount of time that the connector will wait until retrying again</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/azure-service-bus-messaging" type="java.util.concurrent.TimeUnitEnumType" use="optional" default="SECONDS" name="maximumRetryBackoffTimeUnit">
            <xs:annotation>
              <xs:documentation>A time unit which qualifies the #maximumRetryBackoff value</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:substitutableInt" use="optional" default="10" name="retries">
            <xs:annotation>
              <xs:documentation>The maximum amount of retries that the connector will attempt</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/azure-service-bus-messaging" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Message-listenerType" substitutionGroup="mule:abstract-message-source" name="message-listener">
    <xs:annotation>
      <xs:documentation>Receive messages from a specific queue or subscription.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Message-listenerType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageSourceType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-redelivery-policy"></xs:element>
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-reconnection-strategy"></xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="response">
            <xs:complexType>
              <xs:complexContent>
                <xs:extension base="mule:abstractExtensionType">
                  <xs:sequence>
                    <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="body"></xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="properties">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="property">
                            <xs:complexType>
                              <xs:attribute type="mule:expressionString" use="required" name="key"></xs:attribute>
                              <xs:attribute type="mule:expressionString" use="required" name="value"></xs:attribute>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="mule:expressionString" use="optional" name="messageId"></xs:attribute>
                  <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/azure-service-bus-messaging" type="org.mule.runtime.extension.api.runtime.parameter.OutboundCorrelationStrategyEnumType" use="optional" default="AUTO" name="sendCorrelationStrategy"></xs:attribute>
                  <xs:attribute type="mule:expressionString" use="optional" name="correlationId"></xs:attribute>
                  <xs:attribute type="mule:expressionString" use="optional" name="sessionId"></xs:attribute>
                  <xs:attribute type="mule:expressionString" use="optional" name="replyTo"></xs:attribute>
                  <xs:attribute type="mule:expressionString" use="optional" name="replyToSessionId"></xs:attribute>
                  <xs:attribute type="mule:expressionString" use="optional" name="label"></xs:attribute>
                  <xs:attribute type="mule:expressionString" use="optional" name="partitionKey"></xs:attribute>
                  <xs:attribute type="mule:expressionLong" use="optional" name="timeToLive"></xs:attribute>
                  <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/azure-service-bus-messaging" type="java.util.concurrent.TimeUnitEnumType" use="optional" default="SECONDS" name="timeToLiveTimeUnit"></xs:attribute>
                  <xs:attribute type="mule:expressionDateTime" use="optional" name="scheduledEnqueueTimeUtc"></xs:attribute>
                  <xs:attribute type="mule:expressionMap" use="optional" name="properties"></xs:attribute>
                </xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/azure-service-bus-messaging" type="com.mulesoft.connector.azure.messaging.api.AckModeEnumType" use="required" name="ackMode"></xs:attribute>
        <xs:attribute type="mule:substitutableInt" use="optional" default="0" name="prefetchCount"></xs:attribute>
        <xs:attribute type="mule:substitutableInt" use="optional" name="numberOfConsumers"></xs:attribute>
        <xs:attribute type="mule:substitutableBoolean" use="optional" default="true" name="bufferedMode"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="outputMimeType">
          <xs:annotation>
            <xs:documentation>The mime type of the payload that this operation outputs.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="outputEncoding">
          <xs:annotation>
            <xs:documentation>The encoding of the payload that this operation outputs.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:substitutableBoolean" use="optional" name="primaryNodeOnly">
          <xs:annotation>
            <xs:documentation>Whether this source should only be executed on the primary node when runnning in Cluster</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="destinationName">
          <xs:annotation>
            <xs:documentation>"The name of the destination from which messages will be received"</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" default="NONE" name="subscriptionName">
          <xs:annotation>
            <xs:documentation>The name of the subscription from which messages will be received</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/azure-service-bus-messaging" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="AbandonMessageType" substitutionGroup="mule:abstract-operator" name="abandon-message">
    <xs:annotation>
      <xs:documentation>Abandon message stored in the current receiver (This is equivalent to a NACK operation). This operation can only be used from inside a flow that has a Message Listener Source.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="AbandonMessageType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-reconnection-strategy"></xs:element>
        </xs:sequence>
        <xs:attribute type="mule:expressionString" use="required" name="lockToken">
          <xs:annotation>
            <xs:documentation>The Lock Token from the message to Abandon. This represents a UUID for a message.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/azure-service-bus-messaging" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="CompleteMessageType" substitutionGroup="mule:abstract-operator" name="complete-message">
    <xs:annotation>
      <xs:documentation>Complete a message received from in a flow with a message listener in the current source (this is the same as an acknowledge)</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="CompleteMessageType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-reconnection-strategy"></xs:element>
        </xs:sequence>
        <xs:attribute type="mule:expressionString" use="required" name="lockToken">
          <xs:annotation>
            <xs:documentation>The Lock Token from the message to ACK. This represents a UUID for a message.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/azure-service-bus-messaging" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="ReceiveType" substitutionGroup="mule:abstract-operator" name="receive">
    <xs:annotation>
      <xs:documentation>This operation receives a message from a specific queue or subscription. In this version it only supports the Immediate Receive Mode (RECEIVEANDDELETE).</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ReceiveType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-reconnection-strategy"></xs:element>
        </xs:sequence>
        <xs:attribute type="mule:expressionString" use="optional" name="outputMimeType">
          <xs:annotation>
            <xs:documentation>The mime type of the payload that this operation outputs.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="outputEncoding">
          <xs:annotation>
            <xs:documentation>The encoding of the payload that this operation outputs.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="required" name="destinationName">
          <xs:annotation>
            <xs:documentation>"The name of the destination from which messages will be received"</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="NONE" name="subscriptionName">
          <xs:annotation>
            <xs:documentation>The name of the subscription from which messages will be received</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/azure-service-bus-messaging" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="ReceiveBatchType" substitutionGroup="mule:abstract-operator" name="receive-batch">
    <xs:annotation>
      <xs:documentation>This operation receives a maximum of maxMessageCount messages from a specific queue or subscription. In this version it only supports the Immediate Receive Mode (RECEIVEANDDELETE).</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ReceiveBatchType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-reconnection-strategy"></xs:element>
        </xs:sequence>
        <xs:attribute type="mule:expressionInt" use="required" name="maxMessageCount">
          <xs:annotation>
            <xs:documentation>The maximum number of messages that will be received</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="outputMimeType">
          <xs:annotation>
            <xs:documentation>The mime type of the payload that this operation outputs.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="outputEncoding">
          <xs:annotation>
            <xs:documentation>The encoding of the payload that this operation outputs.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="required" name="destinationName">
          <xs:annotation>
            <xs:documentation>"The name of the destination from which messages will be received"</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="NONE" name="subscriptionName">
          <xs:annotation>
            <xs:documentation>The name of the subscription from which messages will be received</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/azure-service-bus-messaging" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="SendType" substitutionGroup="mule:abstract-operator" name="send">
    <xs:annotation>
      <xs:documentation>Sends a message to a Queue or Topic</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="SendType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-reconnection-strategy"></xs:element>
          <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="body">
            <xs:annotation>
              <xs:documentation>The body of this message</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="properties">
            <xs:annotation>
              <xs:documentation>Map of user application properties set on the message</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="property">
                  <xs:complexType>
                    <xs:attribute type="mule:expressionString" use="required" name="key"></xs:attribute>
                    <xs:attribute type="mule:expressionString" use="required" name="value"></xs:attribute>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute type="mule:expressionString" use="required" name="destinationName">
          <xs:annotation>
            <xs:documentation>The destination name to which the message will be sent.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="messageId">
          <xs:annotation>
            <xs:documentation>The message identifier is an application-defined value that uniquely identifies the message and its payload</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/azure-service-bus-messaging" type="org.mule.runtime.extension.api.runtime.parameter.OutboundCorrelationStrategyEnumType" use="optional" name="sendCorrelationStrategy"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="correlationId">
          <xs:annotation>
            <xs:documentation>Allows an application to specify a context for the message for the purposes of correlation</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="sessionId">
          <xs:annotation>
            <xs:documentation>The session identifier for a session-aware entity</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="replyTo">
          <xs:annotation>
            <xs:documentation>The name of the destination to which the message reply will be sent</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="replyToSessionId">
          <xs:annotation>
            <xs:documentation>The ID of the Session to be tied with the message</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="label">
          <xs:annotation>
            <xs:documentation>Enables the application to indicate the purpose of the message to the receiver</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="partitionKey"></xs:attribute>
        <xs:attribute type="mule:expressionLong" use="optional" name="timeToLive"></xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/azure-service-bus-messaging" type="java.util.concurrent.TimeUnitEnumType" use="optional" default="SECONDS" name="timeToLiveTimeUnit">
          <xs:annotation>
            <xs:documentation>The Time unit for the Write Concern Timeout</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionDateTime" use="optional" name="scheduledEnqueueTimeUtc"></xs:attribute>
        <xs:attribute type="mule:expressionMap" use="optional" name="properties">
          <xs:annotation>
            <xs:documentation>Map of user application properties set on the message</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/azure-service-bus-messaging" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="SendMessageBatchType" substitutionGroup="mule:abstract-operator" name="send-message-batch">
    <xs:annotation>
      <xs:documentation>Sends a list of messages to a Queue/Topic</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="SendMessageBatchType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-reconnection-strategy"></xs:element>
          <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="messages">
            <xs:annotation>
              <xs:documentation>The messages to be sent</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute type="mule:expressionString" use="required" name="destinationName">
          <xs:annotation>
            <xs:documentation>The destination name to which the message will be sent</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="org.mule.runtime.extension.api.runtime.parameter.OutboundCorrelationStrategyEnumType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="AUTO"></xs:enumeration>
          <xs:enumeration value="ALWAYS"></xs:enumeration>
          <xs:enumeration value="NEVER"></xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="java.util.concurrent.TimeUnitEnumType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="NANOSECONDS"></xs:enumeration>
          <xs:enumeration value="MICROSECONDS"></xs:enumeration>
          <xs:enumeration value="MILLISECONDS"></xs:enumeration>
          <xs:enumeration value="SECONDS"></xs:enumeration>
          <xs:enumeration value="MINUTES"></xs:enumeration>
          <xs:enumeration value="HOURS"></xs:enumeration>
          <xs:enumeration value="DAYS"></xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="com.mulesoft.connector.azure.messaging.api.AckModeEnumType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="AUTO"></xs:enumeration>
          <xs:enumeration value="MANUAL"></xs:enumeration>
          <xs:enumeration value="IMMEDIATE"></xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
</xs:schema>