.mule/plugins-tmp/repository/4.5.1/org/mule/modules/mule-compression-module/2.2.4/mule-compression-module-2.2.4-mule-plugin.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:mule="http://www.mulesoft.org/schema/mule/core" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.mulesoft.org/schema/mule/compression" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:import namespace="http://www.w3.org/XML/1998/namespace"></xs:import>
  <xs:import namespace="http://www.mulesoft.org/schema/mule/core" schemaLocation="http://www.mulesoft.org/schema/mule/core/current/mule.xsd"></xs:import>
  <xs:complexType name="org.mule.extension.compression.api.strategy.CompressorStrategy">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractExtensionType"></xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" xmlns:compression="http://www.mulesoft.org/schema/mule/compression" type="compression:org.mule.extension.compression.api.strategy.CompressorStrategy" substitutionGroup="mule:abstract-shared-extension" abstract="true" name="global-abstract-compressor-strategy"></xs:element>
  <xs:element xmlns:compression="http://www.mulesoft.org/schema/mule/compression" type="compression:org.mule.extension.compression.api.strategy.CompressorStrategy" abstract="true" name="abstract-compressor-strategy"></xs:element>
  <xs:complexType name="org.mule.extension.compression.api.strategy.gzip.GzipCompressorStrategy">
    <xs:complexContent>
      <xs:extension xmlns:compression="http://www.mulesoft.org/schema/mule/compression" base="compression:org.mule.extension.compression.api.strategy.CompressorStrategy"></xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:compression="http://www.mulesoft.org/schema/mule/compression" type="compression:org.mule.extension.compression.api.strategy.gzip.GzipCompressorStrategy" substitutionGroup="compression:abstract-compressor-strategy" abstract="true" name="abstract-gzip-compressor"></xs:element>
  <xs:element xmlns:compression="http://www.mulesoft.org/schema/mule/compression" substitutionGroup="compression:abstract-gzip-compressor" name="gzip-compressor">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="compression:org.mule.extension.compression.api.strategy.gzip.GzipCompressorStrategy"></xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="org.mule.extension.compression.api.strategy.zip.ZipCompressorStrategy">
    <xs:complexContent>
      <xs:extension xmlns:compression="http://www.mulesoft.org/schema/mule/compression" base="compression:org.mule.extension.compression.api.strategy.CompressorStrategy">
        <xs:attribute xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="mule:substitutableBoolean" use="optional" default="false" name="forceZip64"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:compression="http://www.mulesoft.org/schema/mule/compression" type="compression:org.mule.extension.compression.api.strategy.zip.ZipCompressorStrategy" substitutionGroup="compression:abstract-compressor-strategy" abstract="true" name="abstract-zip-compressor"></xs:element>
  <xs:element xmlns:compression="http://www.mulesoft.org/schema/mule/compression" substitutionGroup="compression:abstract-zip-compressor" name="zip-compressor">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="compression:org.mule.extension.compression.api.strategy.zip.ZipCompressorStrategy"></xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="org.mule.extension.compression.api.strategy.DecompressorStrategy">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractExtensionType"></xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" xmlns:compression="http://www.mulesoft.org/schema/mule/compression" type="compression:org.mule.extension.compression.api.strategy.DecompressorStrategy" substitutionGroup="mule:abstract-shared-extension" abstract="true" name="global-abstract-decompressor-strategy"></xs:element>
  <xs:element xmlns:compression="http://www.mulesoft.org/schema/mule/compression" type="compression:org.mule.extension.compression.api.strategy.DecompressorStrategy" abstract="true" name="abstract-decompressor-strategy"></xs:element>
  <xs:complexType name="org.mule.extension.compression.api.strategy.gzip.GzipDecompressorStrategy">
    <xs:complexContent>
      <xs:extension xmlns:compression="http://www.mulesoft.org/schema/mule/compression" base="compression:org.mule.extension.compression.api.strategy.DecompressorStrategy"></xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:compression="http://www.mulesoft.org/schema/mule/compression" type="compression:org.mule.extension.compression.api.strategy.gzip.GzipDecompressorStrategy" substitutionGroup="compression:abstract-decompressor-strategy" abstract="true" name="abstract-gzip-decompressor"></xs:element>
  <xs:element xmlns:compression="http://www.mulesoft.org/schema/mule/compression" substitutionGroup="compression:abstract-gzip-decompressor" name="gzip-decompressor">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="compression:org.mule.extension.compression.api.strategy.gzip.GzipDecompressorStrategy"></xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="org.mule.extension.compression.api.strategy.zip.ZipDecompressorStrategy">
    <xs:complexContent>
      <xs:extension xmlns:compression="http://www.mulesoft.org/schema/mule/compression" base="compression:org.mule.extension.compression.api.strategy.DecompressorStrategy"></xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:compression="http://www.mulesoft.org/schema/mule/compression" type="compression:org.mule.extension.compression.api.strategy.zip.ZipDecompressorStrategy" substitutionGroup="compression:abstract-decompressor-strategy" abstract="true" name="abstract-zip-decompressor"></xs:element>
  <xs:element xmlns:compression="http://www.mulesoft.org/schema/mule/compression" substitutionGroup="compression:abstract-zip-decompressor" name="zip-decompressor">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="compression:org.mule.extension.compression.api.strategy.zip.ZipDecompressorStrategy"></xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="org.mule.extension.compression.api.strategy.ExtractorStrategy">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractExtensionType"></xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" xmlns:compression="http://www.mulesoft.org/schema/mule/compression" type="compression:org.mule.extension.compression.api.strategy.ExtractorStrategy" substitutionGroup="mule:abstract-shared-extension" abstract="true" name="global-abstract-extractor-strategy"></xs:element>
  <xs:element xmlns:compression="http://www.mulesoft.org/schema/mule/compression" type="compression:org.mule.extension.compression.api.strategy.ExtractorStrategy" abstract="true" name="abstract-extractor-strategy"></xs:element>
  <xs:complexType name="org.mule.extension.compression.api.strategy.zip.ZipExtractorStrategy">
    <xs:complexContent>
      <xs:extension xmlns:compression="http://www.mulesoft.org/schema/mule/compression" base="compression:org.mule.extension.compression.api.strategy.ExtractorStrategy"></xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:compression="http://www.mulesoft.org/schema/mule/compression" type="compression:org.mule.extension.compression.api.strategy.zip.ZipExtractorStrategy" substitutionGroup="compression:abstract-extractor-strategy" abstract="true" name="abstract-zip-extractor"></xs:element>
  <xs:element xmlns:compression="http://www.mulesoft.org/schema/mule/compression" substitutionGroup="compression:abstract-zip-extractor" name="zip-extractor">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="compression:org.mule.extension.compression.api.strategy.zip.ZipExtractorStrategy"></xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="org.mule.extension.compression.api.strategy.ArchiverStrategy">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractExtensionType"></xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" xmlns:compression="http://www.mulesoft.org/schema/mule/compression" type="compression:org.mule.extension.compression.api.strategy.ArchiverStrategy" substitutionGroup="mule:abstract-shared-extension" abstract="true" name="global-abstract-archiver-strategy"></xs:element>
  <xs:element xmlns:compression="http://www.mulesoft.org/schema/mule/compression" type="compression:org.mule.extension.compression.api.strategy.ArchiverStrategy" abstract="true" name="abstract-archiver-strategy"></xs:element>
  <xs:complexType name="org.mule.extension.compression.api.strategy.zip.ZipArchiverStrategy">
    <xs:complexContent>
      <xs:extension xmlns:compression="http://www.mulesoft.org/schema/mule/compression" base="compression:org.mule.extension.compression.api.strategy.ArchiverStrategy">
        <xs:attribute xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="mule:substitutableBoolean" use="optional" default="false" name="forceZip64"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:compression="http://www.mulesoft.org/schema/mule/compression" type="compression:org.mule.extension.compression.api.strategy.zip.ZipArchiverStrategy" substitutionGroup="compression:abstract-archiver-strategy" abstract="true" name="abstract-zip-archiver"></xs:element>
  <xs:element xmlns:compression="http://www.mulesoft.org/schema/mule/compression" substitutionGroup="compression:abstract-zip-archiver" name="zip-archiver">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="compression:org.mule.extension.compression.api.strategy.zip.ZipArchiverStrategy"></xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstract-shared-extension" name="config">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mule:abstractExtensionType">
          <xs:annotation>
            <xs:documentation>Default configuration</xs:documentation>
          </xs:annotation>
          <xs:sequence minOccurs="0" maxOccurs="1"></xs:sequence>
          <xs:attribute type="xs:string" use="required" name="name">
            <xs:annotation>
              <xs:documentation>The identifier of this element used to reference it in other components</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/compression" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="ArchiveType" substitutionGroup="mule:abstract-operator" name="archive">
    <xs:annotation>
      <xs:documentation>Compresses all the given entries into a new file in the configured format. &lt;p&gt; Each entry passed to this operation will be placed inside the compressed archive with the name provided by the user in the DataWeave script. e.g. &lt;p&gt; For this expression: &lt;p&gt; { file: vars.aTxtContent, 'dir/resume.pdf': vars.pdf } &lt;p&gt; The resultant archive will contain 2 entries one named "file" at root level and another one called "resume.pdf" inside a directory called "dir". &lt;p&gt; +- Archive |  \- file1 |  \+ dir1 |  \- file2 &lt;p&gt; As you can see in the example above, the slash "/" in the name of an entry indicates directory separation, so all names will be introspected to create dirs inside the archive.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ArchiveType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="1" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-byte-streaming-strategy"></xs:element>
          <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="entries">
            <xs:annotation>
              <xs:documentation>the entries to be added to the archive</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="archiver">
            <xs:annotation>
              <xs:documentation>the archiving strategy</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:choice minOccurs="1" maxOccurs="1">
                <xs:element xmlns:compression="http://www.mulesoft.org/schema/mule/compression" minOccurs="1" maxOccurs="1" ref="compression:abstract-archiver-strategy"></xs:element>
                <xs:element xmlns:compression="http://www.mulesoft.org/schema/mule/compression" minOccurs="1" maxOccurs="1" ref="compression:global-abstract-archiver-strategy"></xs:element>
              </xs:choice>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute type="mule:expressionString" use="optional" name="outputMimeType">
          <xs:annotation>
            <xs:documentation>The mime type of the payload that this operation outputs.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="outputEncoding">
          <xs:annotation>
            <xs:documentation>The encoding of the payload that this operation outputs.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/compression" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="CompressType" substitutionGroup="mule:abstract-operator" name="compress">
    <xs:annotation>
      <xs:documentation>Compresses a given content using the configured format, ZIP or GZIP. &lt;p&gt; If a problem occur while compressing the content a COULD_NOT_COMPRESS error will be thrown.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="CompressType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="1" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-byte-streaming-strategy"></xs:element>
          <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="content">
            <xs:annotation>
              <xs:documentation>the content to be compressed</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="compressor">
            <xs:annotation>
              <xs:documentation>the compression strategy</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:choice minOccurs="1" maxOccurs="1">
                <xs:element xmlns:compression="http://www.mulesoft.org/schema/mule/compression" minOccurs="1" maxOccurs="1" ref="compression:abstract-compressor-strategy"></xs:element>
                <xs:element xmlns:compression="http://www.mulesoft.org/schema/mule/compression" minOccurs="1" maxOccurs="1" ref="compression:global-abstract-compressor-strategy"></xs:element>
              </xs:choice>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute type="mule:expressionString" use="optional" name="outputMimeType">
          <xs:annotation>
            <xs:documentation>The mime type of the payload that this operation outputs.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="outputEncoding">
          <xs:annotation>
            <xs:documentation>The encoding of the payload that this operation outputs.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/compression" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="DecompressType" substitutionGroup="mule:abstract-operator" name="decompress">
    <xs:annotation>
      <xs:documentation>Decompresses a given single entry compressed content which is assumed to be in an specific format (ZIP or GZIP). &lt;p&gt; If the given content is not in the configured format an INVALID_ARCHIVE error will be thrown. &lt;p&gt; Compressed archives can have multiple entries, this operation can handle only single entry archives because if the archive would contain more than one the operation wouldn't know which should return, if the content has more than one entry an TOO_MANY_ENTRIES error will be thrown. For multiple entry archives use the `extract` operation of this module, which will let you choose only formats that accept multiple entries.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="DecompressType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="1" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-byte-streaming-strategy"></xs:element>
          <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="compressed">
            <xs:annotation>
              <xs:documentation>the content to be decompressed</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="decompressor">
            <xs:annotation>
              <xs:documentation>the decompression strategy</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:choice minOccurs="1" maxOccurs="1">
                <xs:element xmlns:compression="http://www.mulesoft.org/schema/mule/compression" minOccurs="1" maxOccurs="1" ref="compression:abstract-decompressor-strategy"></xs:element>
                <xs:element xmlns:compression="http://www.mulesoft.org/schema/mule/compression" minOccurs="1" maxOccurs="1" ref="compression:global-abstract-decompressor-strategy"></xs:element>
              </xs:choice>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute type="mule:expressionString" use="optional" name="outputMimeType">
          <xs:annotation>
            <xs:documentation>The mime type of the payload that this operation outputs.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="outputEncoding">
          <xs:annotation>
            <xs:documentation>The encoding of the payload that this operation outputs.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/compression" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="ExtractType" substitutionGroup="mule:abstract-operator" name="extract">
    <xs:annotation>
      <xs:documentation>Decompresses a given content that represent an archive in a compression format.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ExtractType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="1" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-byte-streaming-strategy"></xs:element>
          <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="compressed">
            <xs:annotation>
              <xs:documentation>the content of a compressed archive</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="extractor">
            <xs:annotation>
              <xs:documentation>the extractor strategy</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:choice minOccurs="1" maxOccurs="1">
                <xs:element xmlns:compression="http://www.mulesoft.org/schema/mule/compression" minOccurs="1" maxOccurs="1" ref="compression:abstract-extractor-strategy"></xs:element>
                <xs:element xmlns:compression="http://www.mulesoft.org/schema/mule/compression" minOccurs="1" maxOccurs="1" ref="compression:global-abstract-extractor-strategy"></xs:element>
              </xs:choice>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>